:root {
	--ifm-color-primary: #3b82f6;
	--ifm-color-primary-lighter: #dbeafe;
	--ifm-color-primary-light: #60a5fa;
	--ifm-color-primary-dark: #2563eb;
	--ifm-color-primary-darker: #1d4ed8;

	--ifm-color-secondary: #f97316;
	--ifm-color-secondary-lighter: #ffedd5;
	--ifm-color-secondary-light: #fb923c;
	--ifm-color-secondary-dark: #ea580c;
	--ifm-color-secondary-darker: #c2410c;

	--ifm-color-error: #dc2626;
	--ifm-color-error-light: #ef4444;

	--ifm-color-success: #10b981;

	--ifm-circle-progress-color: var(--ifm-color-primary);

	--ifm-color-white: #fff;
	--ifm-color-gray-100: #f3f4f6;
	--ifm-color-gray-400: #d1d5db;
	--ifm-color-gray-900: #111827;

	--ifm-background-primary: var(--ifm-color-gray-100);
	--ifm-background-secondary: var(--ifm-color-white);

	--ifm-textfield-background: var(--ifm-color-white);

	--ifm-text-color-primary: var(--ifm-color-gray-900);
	--ifm-text-color-secondary: var(--ifm-color-gray-400);
	--ifm-text-color-contrast: var(--ifm-color-white);
}
