:global {
	.u-margin-top-large {
		margin-top: clamp(4rem, 10vh, 5rem);
	}

	.u-margin-top-medium {
		margin-top: clamp(3rem, 8vh, 4rem);
	}

	.u-margin-top-small {
		margin-top: clamp(2rem, 6vh, 3rem);
	}

	.u-margin-bottom-tiny {
		margin-bottom: clamp(1rem, 5vh, 2rem);
	}

	.u-margin-bottom-large {
		margin-bottom: clamp(4rem, 10vh, 5rem);
	}

	.u-margin-bottom-medium {
		margin-bottom: clamp(3rem, 8vh, 4rem);
	}

	.u-margin-bottom-small {
		margin-bottom: clamp(2rem, 6vh, 3rem);
	}

	.u-margin-top-tiny {
		margin-top: clamp(1rem, 5vh, 2rem);
	}

	.u-margin-left-large {
		margin-left: clamp(4rem, 10vw, 5rem);
	}

	.u-margin-left-medium {
		margin-left: clamp(3rem, 8vw, 4rem);
	}

	.u-margin-left-small {
		margin-left: clamp(2rem, 6vw, 3rem);
	}

	.u-margin-left-tiny {
		margin-left: clamp(1rem, 5vw, 2rem);
	}

	.u-text-center {
		text-align: center;
	}
}
