// Color
:root {
	--ifm-color-primary: #0194f3;
	--ifm-color-primary-light: #2f80ed;
	--ifm-color-primary-dark: #018ae2;
	--ifm-color-primary-darker: #017fd1;

	--ifm-color-secondary: #ff5e1f;
	--ifm-color-secondary-light: #ffa785;
	--ifm-color-secondary-dark: #ff520e;
	--ifm-color-secondary-darker: #fc4700;

	--ifm-color-danger: #fa383e;
	--ifm-color-danger-light: #fb565b;
	--ifm-color-danger-dark: #e13238;

	--ifm-color-white: #ffffff;
	--ifm-color-black: #111111;

	--ifm-color-gray-1: #f2f2f2;
	--ifm-color-gray-2: #e0e0e0;
	--ifm-color-gray-3: #bdbdbd;
	--ifm-color-gray-4: #828282;
	--ifm-color-gray-5: #4f4f4f;
	--ifm-color-gray-6: #333333;

	--ifm-text-color-primary: var(--ifm-color-gray-6);
	--ifm-text-color-secondary: var(--ifm-color-gray-3);
	--ifm-text-color-primary-revert: var(--ifm-color-white);
}

// Typohography
:root {
	--ifm-h1-font-size: clamp(1.375rem, 0.567rem + 0.256vw, 1.4rem);
	--ifm-h2-font-size: clamp(1.25rem, 0.567rem + 0.256vw, 1.375rem);
	--ifm-h3-font-size: clamp(1rem, 0.567rem + 0.256vw, 1.25rem);
	--ifm-h4-font-size: clamp(0.875rem, 0.567rem +0.256vw, 1.125rem);
	--ifm-h5-font-size: clamp(0.75rem, 0.567rem + 0.256vw, 1rem);
	--ifm-h6-font-size: clamp(0.625rem, 0.567rem + 0.256vw, 0.875rem);
	--ifm-font-size-base: 100%;

	--ifm-font-weight-light: 300;
	--ifm-font-weight-normal: 400;
	--ifm-font-weight-semibold: 500;
	--ifm-font-weight-bold: 700;
	--ifm-font-weight-base: var(--ifm-font-weight-normal);
}

// Another constant
:root {
	--ifm-global-transition-fast: 200ms;
	--ifm-global-transition-slow: 400ms;

	--ifm-global-border-radius: 10px;
	--ifm-global-border-width: 2px;
}

// Button
:root {
	--ifm-button-color: var(--ifm-text-color-primary);
	--ifm-button-background-color: transparent;
	--ifm-button-border-color: transparent;
	--ifm-button-border-width: var(--ifm-global-border-width);
	--ifm-button-padding-vertical: 0.5rem;
	--ifm-button-padding-horizontal: 1.5rem;
	--ifm-button-multiplier: 1;
	--ifm-button-transition: var(--ifm-global-transition-fast);
	--ifm-button-border-radius: calc(
		var(--ifm-button-multiplier) * var(--ifm-global-border-radius)
	);
}

// TextField
:root {
	--ifm-textfield-background-color: transparent;
	--ifm-textfield-text-color: var(--ifm-text-color-primary);
	--ifm-textfield-normal-color: var(--ifm-text-color-secondary);
	--ifm-textfield-error-color: var(--ifm-color-danger);
	--ifm-textfield-focus-color: var(--ifm-color-primary);
	--ifm-textfield-border-color: var(--ifm-textfield-normal-color);
	--ifm-textfield-border-radius: var(--ifm-global-border-radius);
	--ifm-textfield-border-width: var(--ifm-global-border-width);
	--ifm-textfield-border-state-width: calc(
		var(--ifm-global-border-width) + 0.5px
	);
	--ifm-textfield-transition: var(--ifm-global-transition-fast)
		cubic-bezier(0, 0, 0.2, 1);
	--ifm-textfield-padding: 25px 15px 5px;
	--ifm-textfield-height: 60px;
}
