:root {
	--color-primary: #0194f3;
	--color-primary-light: #2f80ed;
	--color-primary-dark: #017fd1;

	--color-secondary: #ff5e1f;
	--color-secondary-light: #ffa785;
	--color-secondary-dark: #eb4200;

	--color-white: #ffffff;
	--color-gray-1: #f2f2f2;
	--color-gray-2: #e0e0e0;
	--color-gray-3: #bdbdbd;
	--color-gray-4: #828282;
	--color-gray-5: #4f4f4f;
	--color-gray-6: #333333;

	--font-size-small: clamp(0.625rem, 0.567rem + 0.256vw, 0.875rem);
	--font-size-medium: clamp(0.75rem, 0.567rem + 0.256vw, 1rem);
	--font-size-large: clamp(0.875rem, 0.567rem +0.256vw, 1.125rem);
	--font-size-xl: clamp(1rem, 0.567rem + 0.256vw, 1.25rem);
	--font-size-2xl: clamp(1.25rem, 0.567rem + 0.256vw, 1.375rem);
}
